html, body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background: linear-gradient(
            90deg,
            rgb(219, 231, 189) 0%,
            rgb(155, 215, 180) 50%,
            rgb(153, 196, 192) 100%
    );
}